<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lixin.carclassstore"
    android:installLocation="preferExternal">
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" /> <!-- 用于开启 debug 版本的应用在6.0 系统上 层叠窗口权限 -->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.CALL_PHONE"/>

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    <application
        android:name=".activity.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        //注册
        <activity android:name=".activity.RegisterActivity"/>
        //忘记密码
        <activity android:name=".activity.ForgetPwdActivity"/>
        //登录
        <activity android:name=".activity.LoginActivity"/>
        //设置
        <activity android:name=".activity.SetUpActivity"/>
        //买保险
        <activity android:name=".activity.BuyInsuranceActivity"/>
        <activity android:name=".activity.CheckViolationWebActivity"/>
        <activity android:name=".activity.CustomerServiceActivity"/>
        <activity android:name=".activity.CarStyleChooseActivity"
            android:windowSoftInputMode="stateHidden"/>
        <!--<activity android:name=".activity.UsedCarActivity"/>-->
        <activity android:name=".activity.BaseActivity"/>
        <activity android:name=".activity.ShopActivity"
            android:windowSoftInputMode="stateHidden"/>
        <activity android:name=".activity.CarSeriesActivity"/>
        <activity android:name=".activity.NewCarDetailsActivity"/>
        <activity android:name=".activity.NewCarModelsActivity"/>
        <activity android:name=".activity.NewsWebActivity"/>
        <activity android:name=".activity.ReplyQuestionActivity"
            android:windowSoftInputMode="stateHidden"/>
        <activity android:name=".activity.ReleaseQuestionActivity"/>
        <activity android:name=".activity.SectionArticleListActivity"/>

        <activity android:name=".activity.UsedCarDetailsActivity"/>
        <activity android:name=".activity.UsedCarListActivity"/>
        //门店详情
        <activity android:name=".activity.StoreDetailsActivity"/>
        //商品详情页
        <activity android:name=".activity.ShopDetailsActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        //订单支付页面
        <activity android:name=".activity.OrderPaymentActivity"/>
        //购物车页面
        <activity android:name=".activity.ShoppingCartActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        //收藏、足迹
        <activity android:name=".activity.MyCollectionFootActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        //我的发布
        <activity android:name=".activity.MyReleaseActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        //我的全部订单
        <activity android:name=".activity.MyAllOrderActivity"/>
        <activity android:name=".activity.SetPasswordQuestionActivity"/>
        <activity android:name=".activity.SetPasswordActivity"/>
        //金融保险
        <activity android:name=".activity.MoneySafeActivity"/>
        //道路救援
        <activity android:name=".activity.RoadRescueActivity"/>
        //发布故障类型
        <activity android:name=".activity.ReleaseRescueInformationActivity"/>
        //故障详情
        <activity android:name=".activity.RescueInformationActivity"/>
        //故障类别
        <activity android:name=".activity.FaultCategoryActivity"/>
        //客户投诉
        <activity android:name=".activity.CustomerComplaintActivity"/>
        //服务提醒
        <activity android:name=".activity.ServiceReminderActivity"/>
        //意见反馈
        <activity android:name=".activity.FeedbackActivity"/>
        //故障当前位置
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="jpauKHjGaccWpWdyzvxMcyQg6Sdg3wN6" />
        <activity android:name=".activity.MapApiDemoActivity"/>
        //选择自己车型
        <activity android:name=".activity.CarModelActivity"/>
        //推荐有礼
        <activity android:name=".activity.RecommendCourtesyActivity"/>
        //爱车档案
        <activity android:name=".activity.CarFilesActivity"/>
        //兑换专区
        <activity android:name=".activity.ExchangeZoneActivity"/>
        //积分中心
        <activity android:name=".activity.IntegralCenter"/>
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="	58ee1a237f2c7441be0007e3" >
        </meta-data>
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true" >
            <intent-filter>
                <action android:name="android.intent.action.View" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="tencent1106082546" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:configChanges="orientation|keyboardHidden|screenSize"/>
    </application>

</manifest>