<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lixin.carclassstore">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="com.lixin.qiaoqixinyuan.permission.JPUSH_MESSAGE" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <!-- Optional. Required for location feature -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" /> <!-- 用于开启 debug 版本的应用在6.0 系统上 层叠窗口权限 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <!-- 友盟分享，第三方登录权限 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.NFC" />

    <!-- 百度地图定位 -->
    <!-- 这个权限用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- SD卡读取权限，用户写入离线定位数据 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <meta-data
        android:name="UMENG_APPKEY"
        android:value="58ee1a237f2c7441be0007e3" >
    </meta-data>
    <!--<activity-->
        <!--android:name=".wxapi.WXEntryActivity"-->
        <!--android:configChanges="keyboardHidden|orientation|screenSize"-->
        <!--android:exported="true"-->
        <!--android:screenOrientation="portrait"-->
        <!--android:theme="@android:style/Theme.Translucent.NoTitleBar" />-->
    <!--<activity-->
        <!--android:name="com.tencent.tauth.AuthActivity"-->
        <!--android:launchMode="singleTask"-->
        <!--android:noHistory="true" >-->
        <!--<intent-filter>-->
            <!--<action android:name="android.intent.action.VIEW" />-->

            <!--<category android:name="android.intent.category.DEFAULT" />-->
            <!--<category android:name="android.intent.category.BROWSABLE" />-->

            <!--<data android:scheme="tencent1106082546" />-->
        <!--</intent-filter>-->
    <!--</activity>-->
    <!--<activity-->
        <!--android:name="com.tencent.connect.common.AssistActivity"-->
        <!--android:screenOrientation="portrait"-->
        <!--android:theme="@android:style/Theme.Translucent.NoTitleBar"-->
        <!--android:configChanges="orientation|keyboardHidden|screenSize"/>-->
    <!--<activity-->
        <!--android:name=".WBShareActivity"-->
        <!--android:configChanges="keyboardHidden|orientation"-->
        <!--android:screenOrientation="portrait" >-->
        <!--<intent-filter>-->
            <!--<action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />-->
            <!--<category android:name="android.intent.category.DEFAULT" />-->
        <!--</intent-filter>-->
    <!--</activity>-->
    <!--<activity-->
        <!--android:name="com.sina.weibo.sdk.component.WeiboSdkBrowser"-->
        <!--android:configChanges="keyboardHidden|orientation"-->
        <!--android:windowSoftInputMode="adjustResize"-->
        <!--android:exported="false" >-->
    <!--</activity>-->
    <!--<service android:name="com.sina.weibo.sdk.net.DownloadService"-->
        <!--android:exported="false"></service>-->

    <application
        android:name=".activity.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        //注册
        <activity android:name=".activity.RegisterActivity"/>
        //忘记密码
        <activity android:name=".activity.ForgetPwdActivity"/>
        //登录
        <activity android:name=".activity.LoginActivity"/>
        //设置
        <activity android:name=".activity.SetUpActivity"/>
        //买保险
        <activity android:name=".activity.BuyInsuranceActivity"/>
        <activity android:name=".activity.CarStoreActivity"/>
        <activity android:name=".activity.CheckViolationWebActivity"/>
        <activity android:name=".activity.CustomerServiceActivity"/>
        <activity android:name=".activity.NewCarActivity"/>
        <activity android:name=".activity.CarStyleChooseActivity"/>
        <!--<activity android:name=".activity.UsedCarActivity"/>-->
        <activity android:name=".activity.BaseActivity"/>
        <activity android:name=".activity.StoreActivity"/>
        <activity android:name=".activity.CarSeriesActivity"/>
        <activity android:name=".activity.NewCarDetailsActivity"/>
        <activity android:name=".activity.NewCarModelsActivity"/>
        <activity android:name=".activity.NewsWebActivity"/>
        <activity android:name=".activity.ReplyQuestionActivity"/>
        <activity android:name=".activity.ReleaseQuestionActivity"/>
        <activity android:name=".activity.SectionArticleListActivity"/>
        <!--<activity android:name=".activity.UsedCarSeriesActivity"/>-->
        <!--<activity android:name=".activity.UsedCarBrandActivity"/>-->
        <!--<activity android:name=".activity.UsedCarDetailsActivity"/>-->
        <!--<activity android:name=".activity.UsedCarListActivity"/>-->
        <activity android:name=".activity.ServiceClassActivity"/>
        <activity android:name=".activity.StoreDetailsActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:name=".activity.OrderPaymentActivity"/>
        <activity android:name=".activity.ShoppingCartActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        //收藏、足迹
        <activity android:name=".activity.MyCollectionFootActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        //我的发布
        <activity android:name=".activity.MyReleaseActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        //我的全部订单
        <activity android:name=".activity.MyAllOrderActivity"/>
        <activity android:name=".activity.SetPasswordQuestionActivity"/>
        <activity android:name=".activity.SetPasswordActivity"/>
        <activity android:name=".activity.MoneySafeActivity"/>
        <!--<activity android:name=".activity.RoadRescueActivity"/>-->
        <!--<activity android:name=".activity.ReleaseRescueInformationActivity"/>-->
        <!--<activity android:name=".activity.FaultCategoryActivity"/>-->
        <!--<activity android:name=".activity.CurrentLocationActivity"/>-->
        <!--<activity android:name=".activity.CustomerComplaintActivity"/>-->
    </application>

</manifest>